@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
.ribbon {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: #03060B;
    right: 0;
    background-color: rgb(34, 39, 85); /* Choose your desired background color */
    color: #ffffff; /* Choose your desired text color */
    padding: 10px;
    z-index: 9999; /* Set a high z-index to make sure the ribbon appears above other content */
    text-align: right; /* Align the buttons to the right within the ribbon */
}

/* Styling for the buttons */
.ribbon-button {
    text-decoration: none;
    background-color: rgb(34, 39, 85);
    color: #ffae52; /* Choose your desired text color for buttons */
    border: none;
    font-family: monospace;
    font-size: small;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
body{width: 100%;
    padding-left: 0%;
    overflow-x: hidden;
     background-color: rgb(20, 24, 58);
    z-index: 0;}
     .project-tile {
        display:inline-block ;
        width: 2.5in;
        height: 3.5in;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #0E1B33;
        color: #60FFD9;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
        margin-right: 10px;
        transition: transform .2s;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    }

    .background_image{
        width: 100%;
        height: 400px;
        background: #fff;
        background-image: url(https://img.mensxp.com/media/content/2023/Mar/For-Header-Thumb-600X900--AMP-335_641022adb2a64.jpeg?w=2200&h=1116&cc=1);
        background-size: cover;
        background-position: center;
      }
    .background_image h6 {width: 100%; height: 400px;margin-top: 0.5in;background-image: linear-gradient(to top, rgb(20, 24, 58),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));}
    .background_image h1{margin-top:0%;
         color: #b87c37;
         font-family: 'Noto Sans', sans-serif;
         text-align: center;font-size: xx-large;}
    content{font-size: larger;color:#AAAAAA; text-align: center;margin-top: 25in;font-size: 30px; font-family: 'Poppins', sans-serif;}
    nav.top-nav {
        width: 100%;
        height: 60px;
        border-radius: 15px;
        background: #202123;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        display: flex;
        justify-content: space-between;
      }
      nav.top-nav .left-top-nav {
        padding-left: 12px;
        display: flex;
      }
      nav.top-nav .left-top-nav a {
        font-size: 24px;
        text-decoration: none;
        color: white;
        padding: 14px;
        transition: .15s all ease-in-out;;
      }
      nav.top-nav .left-top-nav a:hover {
        transform: scale(1.10);
      }
      nav.top-nav ul {
        margin: 0;
        display: flex;
        padding-right: 12px;
      }
      nav.top-nav ul li {
        list-style-type: none;
        display: flex;
        border-left: 1px solid rgba(255, 255, 255, .25);
      }
      nav.top-nav ul li a {
        font-size: 18px;
        padding: 18px 24px;
        text-decoration: none;
        color: white;
        font-weight: 300;
        transition: .15s all ease-in-out;;
      }
      nav.top-nav ul li a:hover {
        background: rgba(255, 255, 255, .25);
      }